
<header class="navbar navbar-fixed-top navbar-inverse" id = "menubar">
  <div class="container">
    <% if logged_in? %>
        <%= link_to "yourcourse", courses_path, id: "logo" %>

    <%else%>
      <%= link_to "yourcourse", root_path, id: "logo" %>
    <%end%>
    <nav>
      <ul class="nav navbar-nav navbar-right">

        <li class="dropdown" id = "menuselection">
          <a href= "#" class="dropdown-toggle" data-toggle="dropdown">
              <span class = "glyphicon glyphicon-screenshot" id=whiteicons></span>
            Categories <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li> <a><% Category.all.each do |category| %>
                  <%= link_to category.name, category %>
                 <% end %> </a>
            </li>
            <% if logged_in? %>
              <li class="divider"></li>
              <li><%= link_to 'New Category', new_category_path %></li>
             <% end %>
          </ul>
        </li>
        
        <li class="dropdown" id = "menuselection">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span class = "glyphicon glyphicon-map-marker" id=whiteicons></span>
            Locations <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li> <% Location.all.each do |location| %>
                  <%= link_to location.name, location %>
                 <% end %>
            </li>
            <% if logged_in? %>
              <li class="divider"></li>
              <li><%= link_to 'New Location', new_location_path %></li>
            <% end %>
          </ul>
        </li>


       <% if logged_in? %>

          <li id = "menuselection"><%= link_to "New Course", new_course_path %> </li>
          <li id = "menuselection"><%= link_to "Product", new_course_path %> </li>
          <li class="dropdown" id = "menuselection">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class = "glyphicon glyphicon-education" id=whiteicons></span>
              <%= @current_user.name %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu" id = "menuselection">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Edit Profile", edit_user_path(current_user) %></li>
              <li class="divider"></li>

              <li>
                <%= link_to "Log out", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
           <li id = "menuselection">
               <%= link_to "Log In", login_path %>
               </li>
        <% end %>

      </ul>
    </nav>
  </div>
</header>

<br><br><br>
